/* *, :after, :before{
    box-sizing: border-box;
} */
body{
    overflow-y: scroll;
    font-family: 'Calibre', 'Helvetica Neue', Helvetica, "Roboto", Arial, sans-serif;
}
#InnerBanner{
    margin: 0 2.25rem;
    font-size: 0.875rem;
    font-weight: 200;
    font-style: normal;
    line-height: 1.25rem;
    display: flex;
    justify-content: center;
    padding: 0 0 8px 0px;
}
#InnerBannerPromo{
    justify-content: center;
    margin: 0 2.25rem;
}

#InnerBannerPromo p{
    padding-left: 4px;
    margin: 0;
    line-height: 1.2rem;
    color:rgba(0, 0, 0, 1);
	font-family:Roboto;
	text-align:left;
	font-size: 12.140625px;
	letter-spacing:0;
}
#InnerBannerPromo a{
    cursor: pointer;
    color: #000;
    text-decoration: none;
    display: inline-block;
}
#InnerBannerPromo a:after {
    content: "";
    background: #53565a;
    display: block;
    height: 0.0625rem; 
}
#InnerBannerPromo a:hover:after { 
    background: #C8102E;
    transition: .5s ease-in-out; 
  }
.button_clear{
    overflow:hidden;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    height: 2.25rem;
    right: 0;
    top: 0;
    width: 2.25rem;
}
.button_clear img{
    margin: auto;
    height: 1rem;
    width: 1rem;
    color: rgba(0, 0, 0, 1);
}
#top-nav{
    position: absolute;
    right: 0;
    left: 0;
    background-color: white;
}
#options{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0.5rem 1.5625rem;
    background-color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
}

.iconWrapperButton{
    align-items: center;
    display: flex;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.42857;
    margin-right: 24px;
}
.optionicon{
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    vertical-align: middle;
}
.iconComponents_underline{
    position: relative;
    font-size:12.359375px;
    color:rgba(0, 0, 0, 1);
	text-align:center;
	font-size:12.359375px;
	letter-spacing:0;
}
.iconComponents_underline:hover:after {
    content: "";
    display: block;
    height: 2px;
    inset: auto 100% -0.3125rem 0px;
}
.iconComponents_underline::after {
    background: #C8102E;
    transition: 0.4s ease-in-out 2s;
}

.iconWrapperacnchor{
    position: relative;
    margin-right: 1.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.42857;
    align-items: center;
    display: flex;
    position: relative;
    text-decoration: none;
}
#menu{
    position: fixed;
    right: 0;
    left: 0;
    display: grid;
    grid-template-areas: "logo primary secondary";
    grid-template-columns: 5.375rem auto 1fr;
    grid-template-rows: 4.75rem minmax(0,auto);
    align-items: center;
    margin: 0 auto;
    padding: 0 25px;
    background-color: white;
    z-index: 30;
}
#logo{
    display: flex;
    grid-area: logo;
    align-items: center;
    justify-content: flex-start;
}
#logo a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.2;
}
.hidden-visually{
    border: 0!important;
    clip: rect(0.0625rem,0.0625rem,0.0625rem,0.0625rem)!important;
    -webkit-clip-path: inset(50%)!important;
    clip-path: inset(50%)!important;
    height: 0.0625rem!important;
    margin: -0.0625rem!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    white-space: nowrap!important;
    width: 0.0625rem!important;
}
#menu ul{
    grid-area: primary;
    position: relative;
    transition: color .1s linear;
    margin-left: -1.25rem;
    display: flex;
    list-style: none;
    padding: 0;
}
#menu ul li a{
    padding: 0.3125rem 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    cursor: pointer;
    text-align:left;
    letter-spacing: .075rem;
    line-height: 1.25rem;
    font-size: 0.838rem;
    font-style: normal;
    height: 3rem;
    align-content: center;
}
#menu ul li:last-child a{
    color: #c8102e;
}
#menu ul li a:hover:after {
    content: "";
    display: block;
    height: 4px;
    inset: auto 100% -0.3125rem 0px;
}
#menu ul li a::after {
    background: #C8102E;
    width: 25px;
    transition: 0.4s ease-in-out 0s;
}


#secondnav{
    display: block;
    grid-area: secondary;
    height: 100%;
    padding: 1.125rem 0;
}

#secondnav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    position: relative;
}

.search{
    z-index: auto;
    margin-right: 1.375rem;
    position: relative;
}
.search form{
    z-index: 2;
    margin: 0;
    position: relative;
    color: #000;
    font-size: 16px;
    line-height: 1.2;   
}
.search form img{
    z-index: 2;
    cursor: pointer;
    position: absolute;
    fill: #53565a;
    color: #000;
    top: 1.125rem;
    left: 0.75rem;
}
.search form input{
    color: #53565a;
    height: 3.125rem;
    border-radius: 0.25rem;
    padding: 0 2rem 0 2.5rem;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
    border: 1.5px solid #000;
    margin: 0;
    min-width: 264px;
    position: relative;
    color: rgba(0, 0, 0, 1);
}
.sign-in_profile{
    margin-top: -0.0625rem;
    position: relative;
    margin-left: -2px;
    padding-right: 0.625rem;
}
.anchoriconWrapper{
    font-size: 0.875rem;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.42857;
    text-decoration: none;
    color: inherit;
    align-items: center;
    display: flex;
    position: relative;
}
.iconComponents_icon{
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 0.1875rem;
    margin-right: 0.1875rem;
}
.wish{
    padding: 14px;
}
.iconComponents_underline{
    font-size: 0.875rem;
    margin-left: 0.5rem;
    position: relative;
    font-weight: 400;
    line-height: 1.42857;
    color:rgba(0, 0, 0, 1);
	text-align:left;
	font-size:12.25px;
	letter-spacing:0;
}

.secondary_cartIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
    font-weight: 500;
    text-align: center;
    color: #c8102e;
    margin-left: 0.1875rem;
    margin-right: 0.1875rem;
    height: 1.5rem;
    width: 1.5rem;
}
    
.secondary_cartIcon a{
    line-height: 0;
    padding: 0.625rem 0 0.625rem 0.625rem;
    margin-bottom: 0.375rem;
}
.secondary_cartIcon img{
	position:absolute;
	left:3.25px;
}

#cart-total{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 0.65rem;
    font-weight: 700;
    text-align: center;
    left: 0.3420rem;
    top: 0.29875rem;
    color: rgb(200, 16, 46);
    line-height: 0;
}

.container1{
    /* position: relative; */
    margin-bottom: 4rem;
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
    background-color: #fafafa;
    margin: 0;
    height: auto;
}
#box{
    background-color: #fafafa;
    position: absolute;
    top: 13.4375rem;
    width: 14rem;
    z-index: 2;
    display: block;
}
#box > h1{
    color:rgba(0, 0, 0, 1);
	width:208px;
	height:48px;
	left:0px;
	top:32px;
	font-family:Roboto;
	text-align:left;
	font-size:35.3125px;
	letter-spacing:0;
}
#box ul{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    padding: 1.5rem 1rem 2rem 0;
    list-style: none;
    font-family: inherit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    margin: 0px;
}

#box ul li{
    -webkit-font-smoothing: antialiased;
    font-size: 1.1875rem;
    line-height: 1.26316;
    display: list-item;
    text-align: -webkit-match-parent;
    position: relative;
}
#box ul li a{
    text-decoration: none;
    /* position: static; */
    text-underline-offset: 0.375rem;
    color: currentcolor;
    cursor: pointer;
    padding-bottom: 0.25rem;
    color:rgba(0, 0, 0, 1);
	width:155px;
	height:24px;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16.328125px;
	letter-spacing:0;
	line-height:px;
}


.banner {
    width: 947px;; 
    height: auto;
    position: relative;
    left: 120px;
    top: 85px;
    width: calc(100% - 120px);
}
.banner {
    position: relative;
    text-align: center;
    color: white;
}
.banner img {
    width: 100%;
}
.cta-buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
    gap: 1rem;
    position: absolute;
    z-index: 21;
}

.tertiary-button {
    background-color: #fff;
    border-color: #000;
    color: #000;
}

.button {
    background-color: #fff;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.button:hover{
    background: #000;
    color: #fff;
}

.text-button {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.nebula_image_button {
    padding: 0px;
    right: 0px;
    top: unset !important;
    border: none;
    z-index: 99999990 !important;
    position: fixed !important;
    cursor: pointer !important;
    line-height: 1px !important;
    width: 26px;
    height: 78px;
    bottom: 250.5px !important;
    margin-bottom: 0px !important;
    background: transparent !important;
}

.nebula_image_button img {
    width: inherit;
    height: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

body, button, input, select, textarea {
    /* font-family: inherit; */
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}


.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: white;
}
.footerMenu{
    display: flex;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 85.75rem;
    padding: 0;
}
.footerMenu ul{
    padding: 1.5rem 0;
    padding-left: 0;
    color: #53565a;
}
.footerInnerSection{
    padding: 1rem 0 0;
    display: inline-block;
    border: none;
    cursor: pointer;
}
.footerInnerSection ul{
    list-style-type: none;
    margin: 0;
    line-height: 1.4285714286;
    letter-spacing: .075rem;
}
.footerInnerSection li{
    padding: 0.5rem 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.1764705882;
    /* font-size: 1.0625rem; */
    font-size: .875rem;
    letter-spacing: .04rem;
}
.subHeader {
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 0;
    font-size: .875rem;
    line-height: 1.4285714286;
    letter-spacing: .075rem;
}
.subHeader2 {
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 0;
    font-size: .875rem;
    line-height: 1.4285714286;
    letter-spacing: .075rem;
}
.footerInnerSection2{
    display: inline-block;
    border: none;
    cursor: pointer;
}
.footerInnerSection2 li{
    padding: 0.5rem 0;
    padding-bottom: 1rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.footerInnerSection2 ul{
    list-style-type: none;
    padding-top: 0;
    margin: 0;
    line-height: 1.4285714286;
    letter-spacing: .075rem;
    line-height: 1.1764705882;
    /* font-size: 1.0625rem; */
    font-size: .875rem;
    letter-spacing: .04rem;
}
.bottomFooter{
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
    border-top: .0625rem solid #d3d5d7;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    font-size: .875rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.4285714286;
    color: #53565a;
}
.bottomFooter ul{
    display: flex;
    list-style-type: none;
}
.bottomFooter li{
    display: flex;
    list-style-type: none;
    margin-right: 20px;
}
.content {
    height: 40vh;
    color: black;
    position: relative;
    display: block;
    width: 100%;
    /* font-size: 1.0625rem; */
    line-height: 1.1764705882;
    font-weight: 400;
    color:rgba(83.00000265240669, 86.00000247359276, 90.00000223517418, 1);
	text-align:left;
	font-size:14.7421875px;
	letter-spacing:0;
}